<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.babyfoodchef.mapper.BoardMapper">
    <select id="freeBoardFindAll" resultType="FreeBoardDto">
        SELECT no, writer, title, contents, date_format(createdDate, '%Y-%m-%d') createdDate, viewCount
        FROM free_board
    </select>

</mapper>