<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.babyfoodchef.mapper.MemberMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="no">
        INSERT Member (id, password, nickName, email)
        VALUES (#{id}, hex(aes_encrypt(#{password}, "dundung")), #{nickName}, #{email})
    </insert>
    <select id="findByIdAndPw" resultType="MemberDto">
        SELECT * FROM Member
        WHERE id = #{id} AND #{password} =
        (SELECT CAST(AES_DECRYPT(UNHEX(password), 'dundung')
        AS CHAR(200)) FROM Member WHERE id=#{id})
    </select>
    <update id="update">
        UPDATE Member SET
        nickName = #{nickName},
        token = #{token}
        WHERE id = #{id}
    </update>
    <select id="findById" resultType="MemberDto">
        SELECT * FROM Member
        WHERE id = #{id}
    </select>
    <select id="findByEmail" resultType="MemberDto">
        SELECT * FROM Member
        WHERE email = #{email}
    </select>
    <select id="findByIdAndEmail" resultType="MemberDto">
        SELECT * FROM Member
        WHERE id = #{id} AND email = #{email}
    </select>


</mapper>